@tailwind base;
@tailwind utilities;

@tailwind components;
@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
  font-family: 'Exo', sans-serif;
}
:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #0f0f0f;
  background-color: #FEF6FE;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.container {
  margin: 0;
  padding-top: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: 0.75s;
}

.logo.tauri:hover {
  filter: drop-shadow(0 0 2em #24c8db);
}

.row {
  display: flex;
  justify-content: center;
}

a {
  font-weight: 500;
  text-decoration: inherit;
  @apply text-gray-500
}

a{
&:hover {
  @apply text-nocash sm:text-slate-500
};
&:active {
  @apply text-nocash
}
}





button {
  cursor: pointer;
 
}

button:hover {
  @apply border-nocash-600
}
button:active {
 @apply bg-nocash text-white
}

button {
  outline: none;
}

@media (prefers-color-scheme: dark) {
  button {
    @apply text-nocash;
    &:active {
      @apply bg-nocash text-white
    }
  }
 
}



// Define a mixin to style occurrences of "Noo.Cash" to red
@mixin highlightNooCash {
  :not([class*='noo-cash']) {
    // Select elements that don't have a class containing "noo-cash"
    // Update this selector based on your specific use case
    :contains('noo.cash') {
      color: #E62CE8;
      font:bold
    }
  }
}

ul {
  @apply list-disc list-inside;
  li {
      @apply text-lg
  }
}