<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>noo.cash | vasha - voice assisted shopping assistant</title>
    <link rel="stylesheet" href="{{url_for('static',filename='dist/index.css')}}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{url_for('static',filename='/apple-touch-icon.png')}}"/>
    <link rel="icon" type="image/png" sizes="32x32" href="{{url_for('static',filename='/favicon-32x32.png')}}"/>
    <link rel="icon" type="image/png" sizes="16x16" href="{{url_for('static',filename='/favicon-16x16.png')}}"/>
    <link rel="manifest" href="{{url_for('static',filename='/site.webmanifest')}}">
    <link rel="mask-icon" href="{{url_for('static',filename='/safari-pinned-tab.svg')}}" color="#5bbad5">
    <link rel="shortcut icon" href="{{url_for('static',filename='/favicon.ico')}}">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="{{url_for('static',filename='/browserconfig.xml')}}">
    <meta name="theme-color" content="#ffffff">
</head>

<body>
    <h3 class="text-3xl font-bold text-red-500">noo.cash | vasha - voice assisted shopping assistant</h3>
  
</body>

</html>