# Database Configuration
POSTGRES_USER=9e2a90918494fc84e851
POSTGRES_PASSWORD=0719c1a3d5791ac61931cb50efe8f9c33e6a803d
POSTGRES_DB=07fd331cd82832
DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@localhost:5432/${POSTGRES_DB}?schema=public