VITE_NOOCASH_HASURA_API_URL={{VITE_NOOCASH_HASURA_API_URL}}
VITE_NOCASH_APP_MODE={{VITE_NOCASH_APP_MODE}}
VITE_NOCASH_APP_TITLE={{VITE_NOCASH_APP_TITLE}}

VITE_NOOCASH_HASURA_ADMIN_SECRET={{VITE_NOOCASH_HASURA_ADMIN_SECRET}}
VITE_FIREBASE_apiKey={{VITE_FIREBASE_apiKey}}
VITE_FIREBASE_authDomain={{VITE_FIREBASE_authDomain }}
VITE_FIREBASE_projectId={{VITE_FIREBASE_projectId}}
VITE_FIREBASE_storageBucket={{VITE_FIREBASE_storageBucket}}
VITE_FIREBASE_messagingSenderId={{VITE_FIREBASE_messagingSenderId}}
VITE_FIREBASE_appId={{VITE_FIREBASE_appId}}
VITE_FIREBASE_measurementId={{VITE_FIREBASE_measurementId}}
