ENGINEAR_FIREBASE_API_KEY={{ENGINEAR_FIREBASE_API_KEY}}
ENGINEAR_FIREBASE_AUTH_DOMAIN={{ENGINEAR_FIREBASE_AUTH_DOMAIN}}
ENGINEAR_FIREBASE_PROJECT_ID={{ENGINEAR_FIREBASE_PROJECT_ID}}
ENGINEAR_FIREBASE_STORAGE_BUCKET={{ENGINEAR_FIREBASE_STORAGE_BUCKET}}
ENGINEAR_FIREBASE_MESSAGING_SENDER_ID={{ENGINEAR_FIREBASE_MESSAGING_SENDER_ID}}
ENGINEAR_FIREBASE_APP_ID={{ENGINEAR_FIREBASE_APP_ID}}
ENGINEAR_FIREBASE_MEASUREMENT_ID={{ENGINEAR_FIREBASE_MEASUREMENT_ID}}